.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  display: grid;
  align-items: center;
}
